body {
  background-image: url('img/under-construction-96dpi 100kb.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

    h1 {color: Yellow;}
    h2 {color: GreenYellow;}
    h5 {color: GreenYellow;}
    p {color: GreenYellow;}
    p {font-size: 13px;}
    p2 {color: White;}
    footer {color: LightGreen;}
    p3 {color: LightGreen;}
    p3 {font-size: 12px;}
    
    .center {
  padding: 70px 0;
  border: 3px grey;
  text-align: center;
} 
